.card-container {
    margin-top: 40px;
    margin-bottom: 90px;
}

.glassmorphic-effect {
    width: 280px;
    /* Adjust the width */
    height: 380px;
    /* Adjust the height to your preference */
    background: rgba(255, 255, 255, 0.1);
    /* Transparent background */
    backdrop-filter: blur(5px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
}

.plant-image {
    width: 100%;
    height: 100%;
}

.plant-name {
    font-size: 20px;
    text-align: center;
    margin-top: 8px;
    color: #155815;
}